language: rust

rust:
  - nightly-2019-07-02

addons:
  config:
    retries: true

cache:
  cargo: true
  directories:
    - /home/travis/.rvm

services:
  - postgresql

before_install:
  - sudo apt-get update -yqq
  - sudo apt-get install -yqq libpq-dev
  - wget https://github.com/sass/dart-sass/releases/download/1.14.2/dart-sass-1.14.2-linux-x64.tar.gz -O /tmp/dart-sass.tar.gz
  - tar xzvf /tmp/dart-sass.tar.gz
  - export PATH=$PWD/dart-sass:$PATH

env:
  global:
    - secure: "UDGBd4vW7M4kMDQXp7Y/syTDU0TglHV5OCuv9b2S5aA3woPxFMl+qzfKNsexstYK49804oDt3jQO8e7aDDVkcOqWluhKSDAmOH8cqqYwfayGyuTy6f4rLmluOIoZ5Ak7gLnV/aufLWE8oxYRByq3OI0np4cdztHmcrvnaGIcVH43t7q4M7u+qKWsZfcEa0ftVO0zynShbiUNtWXek7iSt7YzJTDe4WzOYKeQ7W2lDGKX/642xjPO1NdpcsAidPGz4B8aZNVPiKDUbrptXkBEK04MvrVwI3KRX6JDsrkN29NXq0s+zbES+gWXwnHRhJ9GAqGiysqiNm7OY4zS4+sPSDSyJouSwg+VRwZ1TDDhLOTgKG208AJb10Nx2tKxmmM2z9l/aqkRhGcNneVCTPWLYR4a33KApzu7bsoom4VxtlBeIQDdG7gIxZu2bFxePVwbD/pS2P/9VdAMnE+7kracbJGvY4A8jiqRVlL9ozQ8+FUIB1+wK57KwbvZTabjr6JFB2pG8vkOuqGaA23KZeSOGDI3xR9FO2CRfBhm3GEOu0neGRqX8h79WNXaZ94W65qxVPY4s0S0NV7Rstz8usRWfGoas2QwJpPNaY9BESwi+4VNeQifsAWAUH+0QIlkvkS/k8bga3CJ2SGJp4IyH3m1nUF+hnHHlnHhm5WW6eVKK/o="
    - secure: "UV8N8yku3CKiUZByQ9Sy8kIL2O1xL6jxdnxN+OxO6wlwEdHZFGQA1takFO9i5aokdTnGJXBh25EnT31oPEsz7oJVz/8QMeuvg9prGOwKk2jeZdwwzfpgnrLDQTqV09TIOJ5Numle4AoyiotmbgjKaYSOU1yujGdonfGCeAcUpotgUPO97W8F7Il+RDjvLA3sKTSrvjf9RBglipNpb1T2gZT9oZCp9AGGQVwB2y/aLj6Io2zy3xc6OVG6uzTQYnKOkqyIK8KaYpE6NI0ACmg1EpuBTlCjBV2jM3S/4ycSLPHHmVVvvZBpFtlDFs0pd0yZPHv5PwG/duXJFs0/5+cTbbnRsQisWKazfbOPhR2XZOBmaCxAwI/W04pRrVJPAM05WNEGZCRU6w/ZMuBJFVvCjMhco5UhLZINCLQz3hodnVW7Wl5oP8dFfqV3NPQx8KhVnMhDxcWWwyTZeDkZalPXgX36Qo5T5tklQQ3/DiyiICLTrcePqaHlI/vEug+nGPZPQiX2pKttrDYKy2DTRk79vH2Rsw14NjTFUJZgzNHxT0xTampFJ+jkq1WXw0O+tnPQYqQYkf2aqzFrDwfakuKeGqUarJgaQeqm5CTYDETkQI7wSTtdB7srghYFS6fbhgvGqusus61LG+N7YMVirNsDLAOdcffpVWsNOMVHJAmp7b4="
  matrix:
    - MIGRATION_DIR=migrations FEATURES=postgres DATABASE_URL=postgres://postgres@localhost/rustodon

before_script:
  - scripts/setup
  - npm install -g gulp-cli

script:
  - cargo fmt -- --check
  - if [[ "$TRAVIS_BRANCH" == "master" ]]; then cargo build --release; else cargo build; fi
  - cargo test --all
  - gulp

after_success: ./scripts/after_success.sh

deploy:
  - provider: s3
    bucket: buildartifacts.glitch.social
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    all_branches: true
    upload-dir: rustodon
    region: ca-central-1
    local_dir: buildartifacts
    on: &2
      repo: rustodon/rustodon
  - provider: codedeploy
    bucket: buildartifacts.glitch.social
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    key: rustodon/latest.zip
    bundle_type: zip
    application: rustodon
    deployment-group: rustodon-continuousdelivery
    region: ca-central-1
    on: *2
