// it's 2018. please tell me that nobody is using box-sizing != border-box.
* { box-sizing: border-box; }

body {
  // aesthetics
  color: $text_color;
  background-color: $background_color;

  font-family: $base_font;
  font-size: 1em;
}

// show focus outlines on everything!! tab accessibility~
:focus {
  outline: $focused_color auto 1px;
}

a:active { color: $active_color; }

code, pre {
  font-family: $mono_font;
}

// restyle inputs so they look consistent across browsers
input {
  color: $text_color;
  background-color: white;
  border: 1px solid $border_color;
  padding: 1px 0px;

  // fix for built-in browser styles
  &:focus { outline-offset: 0; }
}

// restyle buttons so they look consistent across browsers
button {
  font-family: inherit;
  font-size: 1em;
  color: $text_color;
  background-color: $background_color;

  border: 1px solid $border_color;
  display: inline-block;
  padding: 1px 6px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

form.inline { display: inline; }

// space out form inputs a bit
form input {
  margin: 0.1em 0;
}

// turn buttons with the .link class into links
// (so we can use inline forms as Links Whomst POST)
button.link {
  background: none;
  border: none;
  margin: 0; padding: 0;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em;

  &:active { color: $active_color; }
}

.flash {
  border: 2px dashed $border_color;
  padding: 1rem;

  &.error {
    border-color: #900C3F;
    background-color: #D29DB2;
  }

  &.success {
    border-color: #1D8348;
    background-color: #58D68D;
  }
}
