$ink_color:  	      hsl(210, 13%, 3%) !default;
$ink_color_alt:     hsl(60, 4%, 25%) !default;
$border_color: 	    hsl(60, 3%, 50%) !default;
$border_color_alt: 	hsl(60, 4%, 80%) !default;
$paper_color:       hsl(60, 12%, 97%) !default;
$paper_color_alt:   hsl(60, 33%, 99%) !default;
$action_color:      hsl(77, 89%, 26%) !default;
$active_color:      hsl(77, 100%, 34%) !default;
$error_color:       hsl(8, 100%, 29%) !default;
$error_color_alt:   hsl(8, 95%, 42%) !default;
$link_color:        hsl(192, 91%, 25%) !default;
$link_color_alt:    hsl(192, 100%, 35%) !default;
$special_color_alt: hsl(320, 100%, 35%) !default;
$special_color:     hsl(320, 52%, 30%) !default;
$shadow_color:      hsla(60, 12%, 27%, 0.25) !default;

$base_font: 'Linux Libertine', FreeSerif, Palatino, 'Palatino Linotype', 'Gentium Plus', Georgia, 'Noto Serif', serif !default;
$alt_font: small-caps 500 0.8em/1.4 'Noto Sans', 'Droid Sans', 'Liberation Sans', Geneva, Verdana, sans-serif !default;
$mono_font: 'Noto Mono', 'Droid Sans Mono', Consolas, monospace !default;
$line_height: 1.4 !default;

$column_width: 24em;
$border_radius: 1px;
$border_width: 1px;
$border_width_alt: 3px;
$standard_border: $border_width solid $border-color;

%shadow {
    box-shadow: 0 1px 2px $shadow_color;
}

%inset-shadow {
    box-shadow: inset 0 1px 2px $shadow_color;
}

%button-styling {
    @extend %shadow;
    display: inline-block;
    padding: 0.3rem;
    border: none;
    border-radius: $border_radius;
    font: $alt_font;
    color: $paper_color;
    background-color: $action_color;
    user-select: none;

    &:hover {
      background-color: $active_color;
      color: $paper_color_alt;
    }
}
