.page-header {
  position: fixed;
  right: 0;
  left: 0;
  background: $paper_color;
  padding: 0 2rem;
  flex-direction: column;
  flex: 0 0 auto;

  a,
  a:visited,
  button {
    padding: 0.5rem 1rem;
    display: inline-block;
    color: $ink_color;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
  }

  li {
    display: inline-block;
  }

  .logo,
  .logo a {
    text-align: start;
    font-size: 1.5rem;
    padding: 0;
  }
}

.top-menu {
  margin-bottom: -$border_width_alt;
  height: 48px;
  &__write {
    text-align: start;
    a {
      padding-left: 0;
    }
  }
  &__tl-home,
  &__tl-local,
  &__tl-fed {
    text-align: center;
    flex-basis: 9rem;
    white-space: nowrap;
  }
  &__profile,
  &__settings,
  &__logout {
    text-align: left;
    white-space: nowrap;
  }
  &__user {
    // Container for positioned submenu
    position: relative;
    white-space: nowrap;
    text-align: end;
    & > a {
      padding-right: 0;
    }
  }
  &__write,
  &__user {
    flex-basis: 48%;
  }
  &__a11y {
    // Hidden off the top of the screen unless focused
    position: absolute;
    top: -20em;
    right: 0;
    left: 0;
    text-align: center;
    ul {
      margin: 0 auto;
      display: block;
    }
    a:focus {
      margin-top: 20em;
    }
  }
  &__logout button {
    font: inherit;
    &:hover {
      background: $error_color;
      color: $paper_color_alt;
    }
  }
}

.tab {
  border-radius: $border_radius $border_radius 0 0;
  border-bottom: $border_width_alt solid transparent;
  width: 8rem;
  &:hover {
    color: $ink_color;
    background: $paper_color;
    border-color: $action_color;
  }
  &:active,
  &:focus {
    color: $ink_color;
    background: $active_color;
  }
  &.active {
    border-color: $active_color;
  }
}

.top-menu__profile > a:hover {
  background: $special_color;
  color: $paper_color_alt;
}

ul.top-menu__user-submenu {
  display: none;
  position: absolute;
  right: 0;
  top: 2em;
  background: $paper_color_alt;

  li {
    display: block;
    margin: 0;
    padding: 0;
  }

  a,
  button {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

.top-menu__user:hover ul,
ul.top-menu__user-submenu:hover,
.top-menu__user:focus .top-menu__user-submenu,
.top-menu__user:focus-within .top-menu__user-submenu {
  display: block;
  @extend %shadow;
}
