@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 800px) {
  .small-screen-only {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 799px) {
  html {
    font-size: 16px;
  }
  .main-content {
    margin-top: 0;
    flex-direction: column;
  }
  .write-status {
    padding-top: 6rem;
  }
  .write-status-form,
  .status {
    max-width: 100%;
  }
  .logo {
    height: 32px;
  }
  .top-menu {
    height: 42px;
    a {
      padding: 0.5rem 0;
      overflow: hidden;
      white-space: nowrap;
      max-width: 20px;
      height: 42px;
    }
  }
  ul.top-menu__user-submenu a,
  ul.top-menu__user-submenu button,
  .logo a {
    max-width: 8em;
  }
  .anon-user-controls {
    margin: 5rem auto;
    text-align: center;
  }
  main > section,
  .page-header,
  .page-end {
    padding: 0 1rem;
  }
  .button-row button {
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  .write-status {
    padding-top: 3rem;
  }
  .logo {
    display: none;
  }
  .top-menu,
  .top-menu a {
    height: 40px;
  }
}
