$text_color: #050505 !default;
$border_color: #afafaf !default;
$background_color: #fefefe !default;
$focused_color: #a8a !default;
$active_color: #a0a !default;
$action_color: #4a824a !default;

$base_font: 'IM Fell Great Primer', serif !default;
$mono_font: 'Nova Mono', monospace !default;

@import 'base';
@import 'layout';
@import 'profile';
@import 'collapsible';
