/* it's 2018. please tell me that nobody is using box-sizing != border-box. */
* { box-sizing: border-box; }

html {
	height: 100%; /* make html and body fill (at least) 100% of the height of the page. */
}

body {
	/* normalize */
	margin: 0;

	/* sticky footer via flexbox */
	display: flex;
	flex-direction: column;
	height: 100vh; /* work around a silly ie11 issue */

	/* aesthetics */
	color: #050505;
	background-color: #fefefe;

	font-family: 'IM Fell Great Primer', serif;
	font-size: 1em;
}

main {
	/* sticky footer via flexbox */
	flex: 1 0 auto;

	padding: 1rem; /* let the content breathe */
}

footer {
	flex-shrink: 0; /* prevent flexbox shrinkage (looking @ u, blink flexbox) */

	border-top: 1px solid #afafaf; /* set the footer off */
	padding: 1rem; /* let the content breathe */
}

code, pre {
	font-family: 'Nova Mono', monospace;
}

.flash {
  border: 2px dashed #afafaf;
  padding: 1rem;
}

.flash.error {
  border-color: #900C3F;
  background-color: #D29DB2;
}

.flash.success {
  border-color: #1D8348;
  background-color: #58D68D;
}

form.inline {
  display: inline;
}

button.link {
  background: none;
  border: none;
  margin: 0; padding: 0;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em;
  font-family: inherit;
}

button.link:focus { outline: none; }
button.link:active { color: red; }

