<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#f8f8f6">
    <title>Rustodon - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" href="/static/favicon.png">
</head>
<body>
    <header class="page-header">
        {%- block topmenu -%}
        {%- endblock -%}
    <hr/>
    </header>
    <main class="main-content">
        {%- match flash -%}
        {%- when Some with (flashmessage) -%}
            <div class="flash-container">
                <input type="checkbox" class="flash-hider" id="flash-hider"/>
                <label class="flash-hider-label" for="flash-hider" title="hide message"><svg class="icon"><use href="/static/img/icons.min.svg#x"/></svg></label>
                <div class="flash {{flashmessage.name()}}">{{flashmessage.msg()}}</div>
            </div>
        {%- when None -%}
        {%- endmatch -%}

        {%- block content -%}
        {%- endblock -%}
    </main>
    <footer class="page-end">
        <hr/>
        <small class="commit-message">
            Powered by Rustodon. Running commit
            <a href="https://github.com/rustodon/rustodon/commit/{{revision}}">
                <code>{{revision}}</code>
            </a>
        </small>
    </footer>
    <script src="/static/js/accessibility.min.js"></script>
</body>
</html>
