{% extends "base.html" %}

{% block title %}Edit your profile{% endblock %}

{% block topmenu %}
        <nav class="top-menu__primary">
            <ul>
                <li class="top-menu__home"><h1><a class="top-menu__home-link" href="/">Rustodon</a></h1></li>
                <li class="top-menu__profile"><a class="top-menu__current-item" href="{{account.profile_path()|safe}}">Profile</a></li>
                <li class="top-menu__logout">
                    <form class="inline" method="post" action="/auth/sign_out">
                        <input type="hidden" name="stub" />
                        <button class="link" type="submit" name="submit">Sign&#160;out</button>
                    </form>
                </li>
                <li class="top-menu__settings"><a href="" disabled>Settings</a></li>
            </ul>
        </nav>
        <nav class="top-menu__secondary">
            <ul>
                <li class="top-menu__space"></li>
                <li class="top-menu__tl-home"><a class="tab" href="/?timeline=home" disabled>Home</a></li>
                <li class="top-menu__tl-local"><a class="tab" href="/?timeline=local">Local</a></li>
                <li class="top-menu__tl-fed"><a class="tab" href="/?timeline=federated" disabled>Federated</a></li>
                <li class="top-menu__space"></li>
            </ul>
        </nav>
{% endblock %}

{% block content %}
        <section class="edit-profile">
            <header>
                <h2 class="title">Edit your profile</h2>
            </header>
            <form method="post" action="/settings/profile">
                <div class="write-content-container">
                    <textarea name="summary">
                    {%- match account.summary -%}
                    {%- when Some with (summary) -%}
                        {{summary}}
                    {%- when None -%}
                    {%- endmatch -%}
                    </textarea>
                </div>
                <div class="button-row">
                    <button class="button--post" type="submit">Update</button>
                </div>
            </form>
        </section>
{% endblock %}
