{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}
<section>
    <header>
        <h2 class="title">Sign in</h2>
    </header>
    <section>
        <form method="post">
            <div>
                <label for="username">username:</label>
                <input type="text" id="username" name="username" />
            </div>
            <div>
                <label for="password">password:</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="button-row">
                <button type="submit">Sign in</button>
            </div>
        </form>
    </section>
</section>
{% endblock %}
